/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 бер. 2015, 22:02:38
    Author     : Nazar
*/
/*ALERT NOTIFICATIONS*/
.alert_note {
    margin-bottom: 10px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 300px;
    z-index: 1000;
}
.alert_note, .alert_note h4 {
    color: #c09853;
}
.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    word-wrap: break-word;       
}
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert_note .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
input.error{
    color: red;
}